<c-board-menu></c-board-menu>
<svg #svg xmlns="http://www.w3.org/2000/svg" (click)="onClickBoard($event)">
  <defs>
    <g id="board.figure.wp"></g>
    <g id="board.figure.wn"></g>
    <g id="board.figure.wb"></g>
    <g id="board.figure.wr"></g>
    <g id="board.figure.wq"></g>
    <g id="board.figure.wk"></g>
    <g id="board.figure.bp"></g>
    <g id="board.figure.bn"></g>
    <g id="board.figure.bb"></g>
    <g id="board.figure.br"></g>
    <g id="board.figure.bq"></g>
    <g id="board.figure.bk"></g>
    <g id="board.field.selection">
      <rect x="0" y="0" width="45" height="45" class="selection"/>
    </g>
  </defs>
</svg>
